# TARGET config
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7986=y
CONFIG_TARGET_mediatek_mt7986_DEVICE_jdcloud_re-cp-03=y

# Compile
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_PROFILE="DEVICE_jdcloud_re-cp-03"
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mcpu=cortex-a53"
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -march=armv8-a+crypto+crc -mcpu=cortex-a53+crypto+crc -mtune=cortex-a53"
CONFIG_PACKAGE_wifi-scripts=y
CONFIG_PACKAGE_wireless-tools=y

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

CONFIG_PACKAGE_kmod-nft-queue=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

# Package
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
#  Coremark
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=6
#  docker dependencies
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libip6tc=y
#  mwan3 dependencies
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y

CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_kmod-mediatek_hnat=y

##---------下面配置可自行修改-------------
## 主题皮肤
CONFIG_PACKAGE_luci-theme-argon=y
## 外部软件源插件
# CONFIG_PACKAGE_luci-app-alist=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-advanced=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-tcpdump=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-wechatpush=y
# CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-app-nikki=y
CONFIG_PACKAGE_luci-app-upnp-mtk-adjust=y
CONFIG_PACKAGE_luci-app-mtwifi-cfg=y
CONFIG_PACKAGE_luci-app-turboacc-mtk=y
## 默认feeds可选插件
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-passwall=y
# CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-eqos-mtk=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-vsftpd=y
# CONFIG_PACKAGE_luci-app-zerotier=y
# CONFIG_PACKAGE_tailscale=y
# CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_vim=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_zsh=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-ikconfig=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-mod-extra=y
## 针对eMMC加的一些文件系统和工具
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_f2fs-tools=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_mmc-utils=y


# Drivers
#
CONFIG_PACKAGE_kmod-conninfra=y
CONFIG_MTK_CONNINFRA_APSOC=y
CONFIG_MTK_CONNINFRA_APSOC_MT7986=y
# CONFIG_MTK_CONNINFRA_APSOC_MT7981 is not set
CONFIG_CONNINFRA_EMI_SUPPORT=y
# CONFIG_FPGA_EARLY_PORTING is not set
CONFIG_CONNINFRA_AUTO_UP=y
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_MTK_SUPPORT_OPENWRT=y
CONFIG_MTK_WIFI_DRIVER=y
# CONFIG_MTK_FIRST_IF_NONE is not set
# CONFIG_MTK_FIRST_IF_MT7615E is not set
# CONFIG_MTK_FIRST_IF_MT7622 is not set
# CONFIG_MTK_FIRST_IF_MT7626 is not set
# CONFIG_MTK_FIRST_IF_AXE is not set
# CONFIG_MTK_FIRST_IF_MT7915 is not set
CONFIG_MTK_FIRST_IF_MT7986=y
# CONFIG_MTK_FIRST_IF_MT7916 is not set
# CONFIG_MTK_FIRST_IF_MT7981 is not set
CONFIG_MTK_SECOND_IF_NONE=y
# CONFIG_MTK_SECOND_IF_MT7615E is not set
# CONFIG_MTK_SECOND_IF_AXE is not set
# CONFIG_MTK_SECOND_IF_MT7915 is not set
# CONFIG_MTK_SECOND_IF_MT7916 is not set
CONFIG_MTK_THIRD_IF_NONE=y
# CONFIG_MTK_THIRD_IF_MT7615E is not set
# CONFIG_MTK_THIRD_IF_MT7915 is not set
# CONFIG_MTK_THIRD_IF_MT7916 is not set
CONFIG_MTK_RT_FIRST_IF_RF_OFFSET=0xc0000
CONFIG_MTK_MT_WIFI=m
CONFIG_MTK_MT_WIFI_PATH="mt_wifi"
# CONFIG_MTK_MT_WIFI_DRIVER_VERSION_7661 is not set
CONFIG_MTK_MT_WIFI_DRIVER_VERSION_7672=y
# CONFIG_MTK_MT_WIFI_MT7986_DEFAULT_FIRMWARE is not set
# CONFIG_MTK_MT_WIFI_MT7986_20221208 is not set
# CONFIG_MTK_MT_WIFI_MT7986_20230421 is not set
# CONFIG_MTK_MT_WIFI_MT7986_20230808 is not set
# CONFIG_MTK_MT_WIFI_MT7986_20231024 is not set
CONFIG_MTK_MT_WIFI_MT7986_20240823=y
# CONFIG_MTK_MT_WIFI_MT7986_asus-ax6000 is not set
CONFIG_MTK_MT_WIFI_FIRMWARE_PATH_MT7986="mt7986-fw-20240823"

#
# WiFi Generic Feature Options
#
CONFIG_MTK_FIRST_IF_EEPROM_FLASH=y
# CONFIG_MTK_FIRST_IF_EEPROM_PROM is not set
# CONFIG_MTK_FIRST_IF_EEPROM_EFUSE is not set
CONFIG_MTK_RT_FIRST_CARD_EEPROM="flash"
CONFIG_MTK_WIFI_BASIC_FUNC=y
CONFIG_MTK_DOT11_N_SUPPORT=y
CONFIG_MTK_DOT11_VHT_AC=y
CONFIG_MTK_DOT11_HE_AX=y
CONFIG_MTK_CFG_SUPPORT_FALCON_MURU=y
CONFIG_MTK_CFG_SUPPORT_FALCON_TXCMD_DBG=y
CONFIG_MTK_CFG_SUPPORT_FALCON_SR=y
CONFIG_MTK_CFG_SUPPORT_FALCON_PP=y
CONFIG_MTK_WIFI_TWT_SUPPORT=y
CONFIG_MTK_G_BAND_256QAM_SUPPORT=y
# CONFIG_MTK_BRCM_256QAM_SUPPORT is not set
# CONFIG_MTK_VHT_TXBF_2G_EPIGRAM_IE_SUPPORT is not set
CONFIG_MTK_TPC_SUPPORT=y
CONFIG_MTK_ICAP_SUPPORT=y
CONFIG_MTK_SPECTRUM_SUPPORT=y
CONFIG_MTK_PHY_ICS_SUPPORT=y
CONFIG_MTK_BACKGROUND_SCAN_SUPPORT=y
CONFIG_MTK_SMART_CARRIER_SENSE_SUPPORT=y
CONFIG_MTK_THERMAL_PROTECT_SUPPORT=y
CONFIG_MTK_SCS_FW_OFFLOAD=y
CONFIG_MTK_MT_DFS_SUPPORT=y
CONFIG_MTK_OFFCHANNEL_SCAN_FEATURE=y
CONFIG_MTK_HDR_TRANS_TX_SUPPORT=y
CONFIG_MTK_HDR_TRANS_RX_SUPPORT=y
CONFIG_MTK_DBDC_MODE=y
# CONFIG_MTK_MULTI_PROFILE_SUPPORT is not set
# CONFIG_MTK_DEFAULT_5G_PROFILE is not set
CONFIG_MTK_WSC_INCLUDED=y
CONFIG_MTK_WSC_V2_SUPPORT=y
CONFIG_MTK_DOT11W_PMF_SUPPORT=y
CONFIG_MTK_TXBF_SUPPORT=y
CONFIG_MTK_FAST_NAT_SUPPORT=y
CONFIG_MTK_WHNAT_SUPPORT=m
CONFIG_MTK_WARP_V2=y
# CONFIG_MTK_WIFI_SKB_USES_SLAB is not set
# CONFIG_MTK_FTM_SUPPORT is not set
CONFIG_MTK_IGMP_SNOOP_SUPPORT=y
# CONFIG_MTK_MEMORY_SHRINK is not set
CONFIG_MTK_RTMP_FLASH_SUPPORT=y
# CONFIG_MTK_PRE_CAL_TRX_SET1_SUPPORT is not set
# CONFIG_MTK_RLM_CAL_CACHE_SUPPORT is not set
# CONFIG_MTK_PRE_CAL_TRX_SET2_SUPPORT is not set
CONFIG_MTK_CAL_BIN_FILE_SUPPORT=y
# CONFIG_MTK_RF_LOCKDOWN_SUPPORT is not set
# CONFIG_MTK_LINK_TEST_SUPPORT is not set
CONFIG_MTK_ATE_SUPPORT=y
CONFIG_MTK_WLAN_SERVICE=y
# CONFIG_MTK_PASSPOINT_R2 is not set
# CONFIG_MTK_MBO_SUPPORT is not set
# CONFIG_MTK_WTBL_TDD_SUPPORT is not set
# CONFIG_MTK_SW_CONNECT_SUPPORT is not set
CONFIG_MTK_MAP_SUPPORT=y
CONFIG_MTK_MAP_R2_VER_SUPPORT=y
CONFIG_MTK_MAP_R3_VER_SUPPORT=y
# CONFIG_MTK_MAP_R2_6E_SUPPORT is not set
CONFIG_MTK_UAPSD=y
# CONFIG_MTK_TCP_RACK_SUPPORT is not set
CONFIG_MTK_RED_SUPPORT=y
# CONFIG_MTK_CTXD_MEM_CPY_SUPPORT is not set
# CONFIG_MTK_CTXD_SCATTER_AND_GATHER_SUPPORT is not set
# CONFIG_MTK_FDB_SUPPORT is not set
# CONFIG_MTK_FIRST_IF_EPAELNA is not set
CONFIG_MTK_FIRST_IF_IPAILNA=y
# CONFIG_MTK_FIRST_IF_IPAELNA is not set
CONFIG_MTK_WIFI_FW_BIN_LOAD=y
CONFIG_MTK_WIFI_SKU_TYPE="AX7800"
CONFIG_MTK_WIFI_ADIE_TYPE="mt7976"
# CONFIG_MTK_RLT_MAC is not set
# CONFIG_MTK_RTMP_MAC is not set
# end of WiFi Generic Feature Options

#
# WiFi Operation Modes
#
CONFIG_MTK_WIFI_MODE_AP=m
# CONFIG_MTK_WIFI_MODE_STA is not set
# CONFIG_MTK_WIFI_MODE_BOTH is not set
CONFIG_MTK_MT_AP_SUPPORT=m
CONFIG_MTK_WDS_SUPPORT=y
CONFIG_MTK_MBSS_SUPPORT=y
CONFIG_MTK_APCLI_SUPPORT=y
# CONFIG_MTK_APCLI_CERT_SUPPORT is not set
# CONFIG_MTK_MAC_REPEATER_SUPPORT is not set
# CONFIG_MTK_APCLI_CONNECTION_TRIAL is not set
# CONFIG_MTK_MWDS is not set
# CONFIG_MTK_WIFI_SYSDVT is not set
CONFIG_MTK_MUMIMO_SUPPORT=y
CONFIG_MTK_MU_RA_SUPPORT=y
CONFIG_MTK_DOT11R_FT_SUPPORT=y
CONFIG_MTK_DOT11K_RRM_SUPPORT=y
# CONFIG_MTK_ENTERPRISE_AP_SUPPORT is not set
CONFIG_MTK_MLME_MULTI_QUEUE_SUPPORT=y
CONFIG_MTK_WIFI_EAP_FEATURE=y
CONFIG_MTK_VLAN_SUPPORT=y
# CONFIG_MTK_SNIFFER_SUPPORT is not set
# CONFIG_MTK_HIGHPRI_RATE_SPECIFIC is not set
# CONFIG_MTK_SNIFFER_RADIOTAP_SUPPORT is not set
# CONFIG_MTK_WF_RESET_SUPPORT is not set
# CONFIG_MTK_TXRX_STAT_SUPPORT is not set
CONFIG_MTK_ANTENNA_CONTROL_SUPPORT=y
CONFIG_MTK_MGMT_TXPWR_CTRL=y
# CONFIG_MTK_TXD_MGMT_TXPWR_CTRL is not set
# CONFIG_MTK_CHUTIL_SUPPORT is not set
# CONFIG_MTK_NF_SUPPORT is not set
CONFIG_MTK_RA_PHY_RATE_SUPPORT=y
CONFIG_MTK_AMPDU_CONF_SUPPORT=y
CONFIG_MTK_ACK_CTS_TIMEOUT_SUPPORT=y
CONFIG_MTK_MBSS_DTIM_SUPPORT=y
# CONFIG_MTK_ZERO_LOSS_CSA_SUPPORT is not set
# CONFIG_MTK_CFG80211_SUPPORT is not set
# CONFIG_MTK_DBDC_ONE_BAND_SUPPORT is not set
# CONFIG_MTK_MBSS_AS_WDS_AP_SUPPORT is not set
# CONFIG_MTK_DSCP_QOS_MAP_SUPPORT is not set
CONFIG_MTK_QOS_R1_SUPPORT=y
# CONFIG_MTK_DSCP_PRI_SUPPORT is not set
# CONFIG_MTK_MIN_PHY_RATE_SUPPORT is not set
# CONFIG_MTK_FAST_UP_RATE_SUPPORT is not set
CONFIG_MTK_CON_WPS_SUPPORT=y
CONFIG_MTK_MCAST_RATE_SPECIFIC=y
CONFIG_MTK_VOW_SUPPORT=y
# CONFIG_MTK_BAND_STEERING is not set
CONFIG_MTK_LED_CONTROL_SUPPORT=y
CONFIG_MTK_WLAN_HOOK=y
# CONFIG_MTK_RADIUS_ACCOUNTING_SUPPORT is not set
CONFIG_MTK_GREENAP_SUPPORT=y
# CONFIG_MTK_WIFI_CSI_CN_INFO_SUPPORT is not set
# CONFIG_MTK_6G_AFC_SUPPORT is not set
# CONFIG_MTK_DFS_SLAVE_SUPPORT is not set
# CONFIG_MTK_VENDOR_FEATURE11_SUPPORT is not set
# CONFIG_MTK_PCIE_ASPM_DYM_CTRL_SUPPORT is not set
# CONFIG_MTK_COEX_SUPPORT is not set
# CONFIG_MTK_EASY_SETUP_SUPPORT is not set
# CONFIG_MTK_EVENT_NOTIFIER_SUPPORT is not set
CONFIG_MTK_AIR_MONITOR=y
CONFIG_MTK_WNM_SUPPORT=y
CONFIG_MTK_INTERWORKING=y
# CONFIG_MTK_LINUX_NET_TXQ_SUPPORT is not set
CONFIG_MTK_WPA3_SUPPORT=y
CONFIG_MTK_OWE_SUPPORT=y
# CONFIG_MTK_SINGLE_SKU is not set
# CONFIG_MTK_PROFILING_SUPPORT is not set
CONFIG_MTK_6G_SUPPORT=y
# CONFIG_MTK_BSSMGR_CROSS_MODULE_SUPPORT is not set
# end of WiFi Operation Modes
